<div class="container">
  <div class="section">
    <div class="columns is-centered">
      <div class="column is-8">
        <h1 class="title"><%= @post.title %></h1>
        <div class="content"><%= @post.content %></div>
      </div>
    </div>
  </div>
</div>
